<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>403 Forbidden</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="background-color: #C7BC9C">
<nav th:replace="fragments/fragment :: navbar('User')"></nav>
<div class="container">
  <div class="card m-4 p-4 shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 class="font-weight-bold" style="color: #0C8546">Akses Ditolak</h2>
        <h2>Maaf anda tidak memiliki akses</h2>
        <br>
        <a class="btn back" href="/" style="background-color: #848484; color: white">Kembali</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
